<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký và đăng nhập</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/1-dkdn.css') }}">
</head>
<body>
    <div class="container">
        <div class="faq-section">
            <div class="faq-item">
                <h2>Câu 1: Tôi có thể đăng ký sử dụng HONEYBANKING ở đâu?</h2>
                <p>Trả lời: Quý khách có thể đến bất cứ Chi nhánh/PGD nào của HONEYBANKING để đăng ký dịch vụ hoặc mở tài khoản và đăng ký dịch vụ trên ứng dụng HONEYBANKING như sau:</p>
                <ol>
                    <li>Tải ứng dụng hoặc truy cập HONEYBANKING</li>
                    <li>Tại màn hình đăng nhập chọn Mở tài khoản trực tuyến và thực hiện nhập số điện thoại/CCCD gắn chip/Khuôn mặt để xác thực thông tin đăng ký (eKYC) và hoàn tất giao dịch mở tài khoản/Đăng ký HONEYBANKING.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 2: Số điện thoại của tôi đã được đăng ký cho một chủ tài khoản khác. Tôi có thể sử dụng dịch vụ HONEYBANKING với số điện thoại của mình không?</h2>
                <p>Trả lời: Ngân hàng chỉ được phép hủy dịch vụ HONEYBANKING khi có yêu cầu của chủ tài khoản (người đã đăng ký trước). Vì vậy trong trường hợp này, để sử dụng dịch vụ Quý khách vui lòng sử dụng số điện thoại khác để đăng ký dịch vụ.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 3: Tôi có thể dùng một tài khoản HONEYBANKING của mình trên nhiều thiết bị khác nhau không?</h2>
                <p>Trả lời: Quý khách có thể dùng tài khoản HONEYBANKING của mình trên các thiết bị điện thoại khác nhau. Tuy nhiên, vì lý do an toàn bảo mật, trong cùng một thời điểm hệ thống chỉ cho phép tài khoản HONEYBANKING được sử dụng trên duy nhất một thiết bị.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 4: Tôi đã đăng ký thành công dịch vụ HONEYBANKING tại ngân hàng, vậy tôi cần làm gì để sử dụng được dịch vụ?</h2>
                <p>Trả lời: Quý khách vui lòng mở HONEYBANKING trên thiết bị sử dụng và thực hiện các bước trên màn hình:</p>
                <ol>
                    <li>Nhập số điện thoại đăng ký.</li>
                    <li>Nhập mã đăng ký ngân hàng cung cấp.</li>
                    <li>Ấn Tiếp tục, ứng dụng hiển thị màn hình Xác nhận kích hoạt.</li>
                    <li>Nhập mã xác nhận dịch vụ và tiếp tục để hoàn tất thao tác kích hoạt.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 5: Tôi có phải đóng khoản phí nào khi đăng ký sử dụng dịch vụ HONEYBANKING không?</h2>
                <p>Trả lời: Cước phí hàng tháng khi Quý khách sử dụng dịch vụ HONEYBANKING là 11.000 VNĐ/mã khách hàng cá nhân/tháng. Phí có thể thay đổi theo quy định của HONEYBANKING ở từng thời kỳ.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 6: Tôi muốn hủy dịch vụ HONEYBANKING?</h2>
                <p>Trả lời: Quý khách có thể đến bất cứ Chi nhánh nào của HONEYBANKING để thực hiện hủy dịch vụ.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 7: Muốn tải ứng dụng trên điện thoại mới có phải ra ngân hàng đăng ký không?</h2>
                <p>Trả lời: Quý khách chỉ cần tải ứng dụng và thực hiện đăng nhập/eKYC theo các bước ngay trên màn hình HONEYBANKING.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 8: Tôi muốn đăng nhập HONEYBANKING trên kênh website thì phải làm thế nào?</h2>
                <p>Trả lời: Để truy cập và sử dụng HONEYBANKING trên website Quý khách cần thực hiện cấp quyền đăng nhập website trên thiết bị mobile bằng cách:</p>
                <ol>
                    <li>Đăng nhập Ứng dụng HONEYBANKING trên điện thoại.</li>
                    <li>Chọn Cài đặt đăng nhập trên màn hình trang chủ.</li>
                    <li>Bật nút “Đăng nhập trên Internet banking” để cấp quyền truy cập trên kênh website.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 9: Tôi đăng nhập ứng dụng HONEYBANKING trên thiết bị khác hệ thống báo "Quý khách không thể đăng nhập trên thiết bị này do thông tin của quý khách đang trong quá trình kiểm duyệt" thì phải làm thế nào?</h2>
                <p>Trả lời: Trên một số thiết bị đời thấp hình ảnh Giấy tờ tùy thân/Khuôn mặt Quý khách hàng cung cấp không đạt chất lượng về độ rõ nét, do đó để đảm bảo an toàn các giao dịch đăng nhập cần được phía Ngân hàng phê duyệt, Quý khách vui lòng vui lòng thử lại sau 24 giờ. Trường hợp cần gấp Quý khách liên hệ tổng đài 1900 555577 để được hỗ trợ kiểm tra và phê duyệt thông tin định danh.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 10: Tôi đăng nhập ứng dụng HONEYBANKING trên thiết bị khác hệ thống báo "Tài khoản của Quý khách đang bị khóa do trước đó được đăng nhập trên thiết bị khác với thông tin xác thực khuôn mặt không trùng khớp" thì phải làm thế nào?</h2>
                <p>Trả lời: Quý khách vui lòng vui lòng liên hệ tổng đài 1800 44466 để được hỗ trợ.</p>
            </div>
        </div>
    </div>
</body>
</html>
