<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mật khẩu và bảo mật</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='2-mk.css') }}">
</head>
<body>
    <div class="faq-container">
        <h2>Câu 1: Tôi không nhớ mật khẩu đăng nhập, tôi cần phải làm gì?</h2>
        <p>Trả lời: Quý khách vui lòng đến Chi nhánh/PGD HONEYBANKING bất kỳ để đăng ký cấp lại mật khẩu. Sau khi được cấp mật khẩu mới, quý khách có thể đăng nhập HONEYBANKING và thao tác theo màn hình để đặt lại mật khẩu.
        Để tiện lợi cho việc cấp lại mật khẩu trong lần tiếp theo, Quý khách vui lòng sử dụng chức năng Cài đặt mật khẩu trên HONEYBANKING. Khi cài đặt chức năng này, HONEYBANKING cho phép Khách hàng lấy lại mật khẩu khi quên mật khẩu trên thiết bị đã đăng nhập.</p>

        <ol>
            <li>Chọn Cài đặt Mật khẩu tại màn hình trang chủ.</li>
            <li>Nhập mật khẩu HONEYBANKING.</li>
            <li>Thực hiện Chụp Giấy tờ tùy thân/Khuôn mặt để xác thực thông tin (eKYC) và hoàn tất giao dịch cài đặt.</li>
        </ol>

        <h2>Câu 2: Tôi nhập sai mật khẩu nên bị khóa trong ngày?</h2>
        <p>Trả lời: Quý khách có thể thực hiện đăng nhập lại vào ngày tiếp theo hoặc đến Chi nhánh/Phòng giao dịch gần nhất để được hỗ trợ.</p>

        <h2>Câu 3: Hình thức xác thực Soft OTP là gì?</h2>
        <p>Trả lời: Hình thức xác thực bằng Soft OTP là hình thức xác thực có tính bảo mật và an toàn cao được áp dụng từ 01/7/2019 theo Quy định của Ngân hàng nhà nước. Khác với hình thức SMS OTP, mã xác thực Soft OTP được hệ thống sinh ra và điền sẵn trên màn hình ứng dụng giúp cho Khách hàng tiết kiệm thời gian giao dịch. Mã xác thực được sinh ra gắn liền với thiết bị, tài khoản và thông tin giao dịch của Khách hàng. Để đảm bảo an toàn, ứng dụng chỉ cho phép sử dụng chức năng Soft OTP khi thiết bị đảm bảo không bị Root/Jaibreak, màn hình khóa. Ngoài ra, quý khách cần thực hiện 02 giao dịch tài chính thành công bằng SMS OTP sau khi kích hoạt ứng dụng.</p>

        <h2>Câu 4: Tôi bị quên mã PIN SOFT OTP phải làm thế nào?</h2>
        <p>Trả lời: Quý khách vui lòng thực hiện các bước sau để cài lại mã PIN:</p>
        <ol>
            <li>Chọn Cài đặt SOFT OTP.</li>
            <li>Chọn Quên PIN.</li>
            <li>Nhập mật khẩu ứng dụng.</li>
            <li>Nhập mã PIN mới và hoàn tất giao dịch.</li>
        </ol>

        <h2>Câu 5: Tôi đã kích hoạt chức năng xác nhận SOFT OTP trên ứng dụng HONEYBANKING, nhưng sau đó xác nhận giao dịch vẫn yêu cầu xác nhận bằng mã SMS OTP?</h2>
        <p>Trả lời: Sau khi qúy khách kích hoạt tính năng xác thực bằng Soft OTP, Quý khách cần thực hiện 02 giao dịch bằng SMS OTP, các giao dịch tiếp theo hệ thống yêu cầu xác thực bằng Soft OTP.</p>

        <h2>Câu 6: Tôi muốn đổi mật khẩu đăng nhập ứng dụng HONEYBANKING, như vậy có cần ra quầy yêu cầu thay đổi mật khẩu không?</h2>
        <p>Trả lời: Khi đổi mật khẩu, Quý khách có thể thực hiện ngay trên HONEYBANKING.</p>
        <ol>
            <li>Chọn mục Cài đặt mật khẩu.</li>
            <li>Chọn Đổi mật khẩu.</li>
            <li>Nhập mật khẩu hiện tại/Nhập mật khẩu mới.</li>
        </ol>

        <h2>Câu 7: Tôi bị mất điện thoại/ mất sim, tôi cần khóa HONEYBANKING?</h2>
        <p>Trả lời: Quý khách vui lòng liên hệ hotline 1800 44466 cung cấp các thông tin theo yêu cầu để được hỗ trợ khóa dịch vụ.</p>
    </div>
</body>
</html>
