<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuyển khoản</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='3-chuyen-khoan.css') }}">
</head>
<body>
    <div class="container">
        <div class="faq-section">
            <div class="faq-item">
                <h2>Câu 1: Tôi muốn nâng hạn mức chuyển khoản trên ứng dụng trên HONEYBANKING tôi cần phải làm gì?</h2>
                <p>Trả lời: Để thay đổi hạn mức chuyển khoản, Quý khách vui lòng chọn chức năng Cài đặt hạn mức tại màn hình trang chủ để thực hiện theo nhu cầu.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 2: Trên HONEYBANKING, tôi có thể thực hiện chuyển tiền tối đa bao nhiêu tiền?</h2>
                <p>Trả lời: Hạn mức chuyển khoản trên HONEYBANKING được quy định như sau:</p>
                <ol>
                    <li><strong>Áp dụng đối với tài khoản mở và đăng ký tại quầy:</strong>
                        <ul>
                            <li><strong>Chuyển tiền trong HONEYBANKING</strong></li>
                            <li>2.500.000.000 VNĐ/giao dịch.</li>
                            <li>5.000.000.000 VNĐ/ngày.</li>
                            <li><strong>Chuyển tiền nhanh ngoài HONEYBANKING:</strong></li>
                            <li>1.000.000.000 VNĐ/giao dịch đối với Ngân hàng Vietcombank, BIDV, VietinBank.</li>
                            <li>&lt; 500.000.000 VNĐ/giao dịch đối với các Ngân hàng khác.</li>
                            <li>5.000.000.000 VNĐ/ngày.</li>
                            <li><strong>Chuyển tiền thường ngoài HONEYBANKING:</strong></li>
                            <li>1.000.000.000 VNĐ/giao dịch.</li>
                            <li>5.000.000.000 VNĐ/ngày.</li>
                        </ul>
                    </li>
                    <li><strong>Áp dụng đối với tài khoản mở trực tuyến trên HONEYBANKING:</strong>
                        <ul>
                            <li><strong>Chuyển tiền trong HONEYBANKING.</strong></li>
                            <li>10.000.000 VNĐ/giao dịch.</li>
                            <li>100.000.000 VNĐ/tháng.</li>
                            <li><strong>Chuyển tiền ngoài HONEYBANKING.</strong></li>
                            <li>5.000.000 VNĐ/giao dịch.</li>
                            <li>100.000.000 VNĐ/tháng.</li>
                        </ul>
                    </li>
                    <li><strong>Áp dụng đối với tài khoản mở trực tuyến trên ATM:</strong>
                        <ul>
                            <li><strong>Chuyển tiền trong HONEYBANKING.</strong></li>
                            <li>10.000.000 VNĐ/giao dịch.</li>
                            <li>70.000.000 VNĐ/tháng.</li>
                            <li><strong>Chuyển tiền ngoài HONEYBANKING.</strong></li>
                            <li>5.000.000 VNĐ/giao dịch.</li>
                            <li>70.000.000 VNĐ/tháng.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 3: Tôi thực hiện chuyển khoản qua HONEYBANKING thành công, tài khoản đã bị trừ nhưng tài khoản người nhận chưa được cộng tiền, xin được trợ giúp?</h2>
                <p>Trả lời: Quý khách vui lòng liên hệ tổng đài 180044466  của HONEYBANKING để được hỗ trợ.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 4: Tôi thực hiện chuyển khoản nhầm sang số tài khoản khác trên ứng dụng HONEYBANKING, tài khoản đã bị trừ tiền thì liên hệ qua đâu để được hỗ trợ?</h2>
                <p>Trả lời: Quý khách vui lòng liên hệ tổng đài 180044466  của HONEYBANKING hoặc mang theo giấy tờ tùy thân đến trực tiếp Chi nhánh/Phòng giao dịch HONEYBANKING để được hỗ trợ.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 5: Tại sao khi tôi giao dịch chuyển khoản/nạp tiền số tiền dưới 500.000 VNĐ, nhưng không có tin nhắn mã OTP gửi về để tôi xác nhận giao dịch?</h2>
                <p>Trả lời: Theo quy định, các giao dịch tài chính trên HONEYBANKING ≤500.000 VNĐ, Quý khách vui lòng nhập mật khẩu đăng nhập để xác thực giao dịch. Đối với các giao dịch từ 500.000 VNĐ hệ thống yêu cầu xác thực bằng SMS OTP hoặc Soft OTP.</p>
            </div>
        </div>
    </div>
</body>
</html>
