<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='4-dich-vu-the.css') }}">
</head>
<body>
    <div class="container">
        <div class="faq-section">
            <div class="faq-item">
                <h2>Câu 1: Tôi bị mất thẻ và muốn khóa thẻ ngay tức thì?</h2>
                <p>Trả lời: Quý khách có thể thực ngay trên HONEYBANKING bằng cách:</p>
                <ol>
                    <li>Chọn Dịch vụ thẻ.</li>
                    <li>Chọn Khóa/Mở thẻ và chọn thẻ cần Khóa/Mở khóa thẻ/Lý do mở/khóa thẻ.</li>
                    <li>Xác thực giao dịch bằng SMS/Soft OTP.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 2: Tôi muốn mở thẻ để rút tiền ở ATM?</h2>
                <p>Trả lời: Quý khách có thể thực ngay trên HONEYBANKING bằng cách:</p>
                <ol>
                    <li>Chọn Dịch vụ thẻ.</li>
                    <li>Chọn Khóa/Mở thẻ và chọn thẻ cần Khóa/Mở khóa thẻ/Lý do mở/khóa thẻ.</li>
                    <li>Xác thực giao dịch bằng SMS/Soft OTP.</li>
                </ol>
                <p>Sau khi gửi yêu cầu mở thẻ thành công, phía Ngân hàng sẽ phê duyệt và thông báo kết quả tại mục Thông báo trên Ứng dụng.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 3: Tôi cần chuyển thẻ từ sang thẻ Chip phải làm thế nào?</h2>
                <p>Trả lời: Quý khách có thể thực hiện ngay trên HONEYBANKING bằng cách:</p>
                <ol>
                    <li>Chọn Dịch vụ thẻ.</li>
                    <li>Chọn thẻ cần chuyển đổi.</li>
                    <li>Chọn thẻ tỉnh/thành, quận/huyện/chi nhánh.</li>
                    <li>Xác thực giao dịch bằng SMS/Soft OTP.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 4: Làm thế nào để đổi mã PIN thẻ trên HONEYBANKING?</h2>
                <p>Trả lời: Quý khách có thể thực hiện ngay trên HONEYBANKING bằng cách:</p>
                <ol>
                    <li>Chọn Dịch vụ thẻ.</li>
                    <li>Chọn Cấp/Đổi mã PIN.</li>
                    <li>Chọn thẻ cần đổi mã PIN/Nhập số PIN mới.</li>
                    <li>Xác thực giao dịch bằng SMS/Soft OTP.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 5: Tôi muốn mở thẻ Phi vật lý phải làm như thế nào?</h2>
                <p>Trả lời: Quý khách có thể thực ngay trên HONEYBANKING bằng cách:</p>
                <ol>
                    <li>Chọn Dịch vụ thẻ.</li>
                    <li>Chọn Phát hành thẻ Phi vật lý/Chọn loại thẻ/Nhập hạn mức sử dụng.</li>
                    <li>Xác thực giao dịch bằng SMS/Soft OTP/Mật khẩu Ứng dụng.</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>
