<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Câu hỏi khác</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='6-cau-hoi-khac.css') }}">
</head>
<body>
    <div class="container">
        <div class="faq-section">
            <div class="faq-item">
                <h2>Câu 1: Tôi nhận được tin nhắn thông báo biến động số dư tăng tiền tại mục Biến động, nhưng khi kiểm tra số dư tại mục tài khoản thì số dư vẫn không thay đổi. Tôi cần xử lý như thế nào?</h2>
                <p>Trả lời: Quý khách vui lòng liên hệ số hotline 180044466  để được kiểm tra sao kê tài khoản.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 2: Tôi thực hiện chụp ảnh Giấy tờ tùy thân/Khuôn mặt đều báo lỗi mặc dù giấy tờ đúng quy định và thực hiện nhiều lần?</h2>
                <p>Trả lời: Khi thực hiện chụp Giấy tờ tùy thân/Khuôn mặt (xác thực eKYC) để sử dụng một số chức năng như Mở tài khoản trực tuyến/Cài đặt quên mật khẩu/Đăng nhập trên thiết bị mới thường bị báo lỗi có thể do gặp phải một số nguyên nhân sau:</p>
                <ul>
                    <li>Giấy tờ không hợp lệ: Cũ nát, mất góc, bong tróc, lem bẩn, khó nhận diện thông tin Khuôn mặt và các thông tin khác trên Giấy tờ tùy thân hoặc giấy tờ tùy thân được chụp từ ảnh có sẵn trên thiết bị khác...</li>
                    <li>Ảnh chụp Giấy tờ/Khuôn mặt không rõ nét có thể do thiết bị (camera mờ, dính bẩn, thiết bị yếu…), chụp trong điều kiện ánh sáng không tốt (mờ, tối, sáng lóa…) hoặc một số lý do khác gây ra việc hệ thống không nhận diện được thông tin.</li>
                    <li>Kết nối mạng Internet của Quý khách không ổn định.</li>
                </ul>
                <p>Quý khách vui lòng kiểm tra lại kết nối Internet trên thiết bị và thực hiện chụp lại giấy tờ hợp lệ/xác thực khuôn mặt trong điều kiện ánh sáng tốt, thực hiện đúng thao tác theo hướng dẫn trên màn hình. Trường hợp đã kiểm tra loại trừ các nguyên nhân trên thực hiện lại tiếp tục gặp lỗi, Quý khách vui lòng liên hệ 180044466  để được hỗ trợ kiểm tra hoặc đến Chi nhánh/Phòng giao dịch gần nhất để được hỗ trợ.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 3: Khi sử dụng chức năng QR Pay màn hình bị đen màn hình?</h2>
                <p>Trả lời: Quý khách vui lòng thực hiện cài đặt lại như sau:</p>
                <ol>
                    <li>Vào Cài đặt/Setting.</li>
                    <li>Vào Ứng dụng HONEYBANKING.</li>
                    <li>Bật chức năng Ảnh/Camera sau đó đăng nhập và sử dụng.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 4: Tôi muốn hủy dịch vụ SMS Banking?</h2>
                <p>Trả lời: Quý khách vui lòng ra trực tiếp chi nhánh gần nhất để hủy dịch vụ SMS Banking nếu có nhu cầu hoặc thực hiện đăng ký nhận tin Biến động số dư trên Ứng dụng, hệ thống sẽ cho phép lựa chọn Hủy SMS.</p>
            </div>
            <div class="faq-item">
                <h2>Câu 5: Tôi muốn xem lại thông tin mã thẻ đã mua</h2>
                <p>Trả lời: Quý khách vui lòng đăng nhập HONEYBANKING xem mục Thông báo trên màn hình trang chủ hoặc thực hiện các bước:</p>
                <ol>
                    <li>Vào chức năng Tài khoản.</li>
                    <li>Chọn Thời gian để tra cứu giao dịch.</li>
                    <li>Ấn chọn Giao dịch mua mã thẻ để xem thông tin chi tiết.</li>
                </ol>
            </div>
            <div class="faq-item">
                <h2>Câu 6: Tôi vào mục Lịch sử giao dịch để kiểm tra sao kê nhưng không thấy đầy đủ các giao dịch phát sinh trên tài khoản.</h2>
                <p>Trả lời: Mục “Lịch sử giao dịch” chỉ ghi nhận các giao dịch được thực hiện trên ứng dụng Agribank Plus. Để xem đầy đủ sao kê tài khoản, Quý khách vui lòng chọn mục "Tài khoản" trên màn hình home của ứng dụng. Lưu ý chọn thời gian tra cứu tối đa là 31 ngày.</p>
            </div>
        </div>
    </div>
</body>
</html>
